/* GLobal */
 

/* Banner */
.header{
    background-color: #E554731A;
    
        padding: 30px 30px 0px 150px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
    
    
}

.banner-title{
color: #272727;
font-family: Lato;
font-size: 80px;
font-weight: 800;

}
.banner-description{
color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.btn-primary{
border-radius: 8px;
background: #E55473;
border: 0;
font-size: 20px;
font-style: normal;
font-weight: 700;
color: white;
padding: 16px 35px;
}
.text-primary{
    color: #E55473;
}



.hot-deals{
margin-top: 100px;
border-radius: 8px;
background: rgba(229, 84, 115, 0.05);

}

.sub-banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.sub-content{
    text-align: center;
    width: 50%;
    margin-bottom: 24px;
}
.sub-title{
color: #272727;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 24px;
}
.sub-description{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-bottom: 24px;
}

.about-container{
    display: flex;
    justify-content: space-around;
    
}

.instagram{
    margin-top: 100px;
}

.section-title{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.ins-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-bottom: 30px;
}

.image-container{
    display: flex;
    gap: 25px;
    justify-content: center;
}

.latest-deal{
    padding: 130px;
    border-radius: 10px;
    background-image: url(../images/Rectangle\ 9.png);
    margin: 180px 240px 240px 340px;
    background-repeat: no-repeat;
}

.latest-title{
color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}


.latest-info{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
input{
padding: 18px 35px;
color: #757575;
 border-radius: 5px;
background: #FFF;
border: 0;
margin: auto;

}

.latest-box{
    display: flex;
    justify-content: space-around;
}




.footer{
    background-color: #111010;
}

.footer-title{
    color: white;
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-align: center;
}

.footer-des{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.smol{
color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    background-color: white;
}
.about{
    
    font-size: xx-large;
    text-align: center;
    background-color: white;
}